
#playButton1{
	-fx-background-color: "#05a95c";
	-fx-font-family: "Helvetica";
    -fx-font-size: 25.0px;
    -fx-text-fill: white;
    -fx-font-scale: 40.0;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.5) , 10.0, 0.0 , 0.0 , 3.0 );
}


#playButton1:hover{
	 -fx-background-color:
          -fx-shadow-highlight-color,
          linear-gradient(to bottom, derive(-fx-text-box-border, -10.0%), -fx-text-box-border),
          linear-gradient(to bottom,
            derive(-fx-control-inner-background, -7.0%),
            derive(-fx-control-inner-background, 0.0%),
            derive(-fx-control-inner-background, -3.0%),
            derive(-fx-control-inner-background, -9.0%)
          );
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0, 1.0 1.0 2.0 1.0;
    -fx-background-radius: 4.0, 3.0, 2.0; /* 10, 9, 8 */
     -fx-text-fill: "#05a95c";
   
}

#contentBox{
	-fx-background-color: white;
	-fx-border-color: rgba(255.0,255.0,240.0);
	 -fx-effect: dropshadow( three-pass-box , rgba(240.0,255.0,240.0) , 10.0, 0.0 , 0.0 , 3.0 );
}


#playButton {
    -fx-background-color: #55a630;
    -fx-background-radius: 12.0;
    -fx-border-width: 2.0;
    -fx-font-family: "Helvetica";
    -fx-font-size: 25.0px;
    -fx-text-fill: white;
    -fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,0.5) , 2.0,0.0,0.0,1.0 );
}

#inspectGameButton{
	  -fx-background-color: #55a630;
    -fx-background-radius: 5.0;
    -fx-border-width: 2.0;
    -fx-font-family: "Helvetica";
    -fx-font-size: 14.0px;
    -fx-text-fill: white;
    -fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,0.5) , 2.0,0.0,0.0,1.0 );
}

#inspectGameButton:hover{
	  -fx-background-color: #63b037;
    -fx-background-radius: 5.0;
    -fx-border-width: 2.0;
    -fx-font-family: "Helvetica";
    -fx-font-size: 14.0px;
    -fx-text-fill: white;
    -fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,0.5) , 2.0,0.0,0.0,1.0 );
}



#playButton:hover {
    -fx-background-color: #63b037;
}

#playButton:pressed {
    -fx-background-color: #438329;
    -fx-border-color: #32611d;
}

#remiButton{
	 -fx-background-color: White;
	 
    -fx-border-color: Black;
    -fx-border-width: 2.0;
    -fx-font-family: "Helvetica";
    -fx-font-size: 20.0px;
    -fx-text-fill: black;
    -fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,250.0) , 10.0,0.0,0.0,1.0 );

}

#remiButton:hover{
	 -fx-background-color: #e8e8e8;
}

#surrenderButton{
	 -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 2.0;
    -fx-font-family: "Helvetica";
    -fx-font-size: 20.0px;
    -fx-text-fill: black;
    -fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,250.0) , 10.0,0.0,0.0,0.0 );

}

#surrenderButton:hover{
	-fx-background-color: #e8e8e8;
}




#SettingsView{
	-fx-background-color: #FFFFFF;
}

#InGamePane{
	-fx-background-color: Transparent;
	
}



#pauseGameButton{
	 -fx-background-color: white;
    -fx-border-width: 2.0;
    -fx-border-color: black;
    -fx-font-family: "Helvetica";
    -fx-font-size: 25.0px;
    -fx-text-fill: black;
     -fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,250.0) , 10.0,0.0,0.0,1.0 );
   
}

#pauseGameButton:hover{
	-fx-background-color: #e8e8e8;
}

#BotSelectButton{
	-fx-background-color: #55a630;
    -fx-background-radius: 3.0;
    -fx-border-width: 2.0;
    -fx-font-family: "Helvetica";
    -fx-font-size: 20.0px;
    -fx-text-fill: white;
    -fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,0.5) , 2.0,0.0,0.0,1.0 );
}

#BotSelectButton:disabled{
 -fx-background-color: #63b037;
}


#BotSelectButton:hover{
 -fx-background-color: #63b037;
}

#BotSurrenderButton{
		-fx-background-color: #ba3636;
    -fx-background-radius: 3.0;
    -fx-border-width: 2.0;
    -fx-font-family: "Helvetica";
    -fx-font-size: 20.0px;
    -fx-text-fill: white;
    -fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,0.5) , 2.0,0.0,0.0,1.0 );
}

#BotSurrenderButton:hover{
	-fx-background-color: #b84b4b;
}

#BotSurrenderButton:disabled{
	
}


#BotHeadingText{
	-fx-font-family: "Helvetica";
    -fx-font-size: 23.0px;
    -fx-text-fill: white;
}

#bot1Button{
	-fx-background-color: linear-gradient(to bottom, #a6a6a6, #7a7979);
    -fx-text-fill: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 10 20 10 20;
    -fx-font-size: 14pt;
    -fx-cursor: hand;
}

#bot1Button:disabled{
	-fx-opacity: 1.0;
	-fx-background-color: linear-gradient(to bottom, #63b037, #678a70);
}

#bot2Button{
	-fx-background-color: linear-gradient(to bottom, #a6a6a6, #7a7979);
    -fx-text-fill: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 10 20 10 20;
    -fx-font-size: 14pt;
    -fx-cursor: hand;
}
/* 
#bot2Button:hover{
	-fx-background-color: linear-gradient(to bottom, #4bab65, #2e8044);
}
*/


#bot2Button:disabled{
	-fx-opacity: 1.0;
	-fx-background-color: linear-gradient(to bottom, #63b037, #678a70);
}

/* 
#bot2Button:pressed{
	-fx-background-color: linear-gradient(to bottom, #4bab65, #408f55);
}
*/
#BotRepresentationMenue{
	-fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,0.5) , 2.0,0.0,0.0,1.0 );
}

#gameStartHeading{
	-fx-font-family: "Impact";
    -fx-font-size: 30.0px;
}

#gameStartBotWrapper{
	-fx-border-color: #f0ebeb; 
	-fx-border-insets: -5;
	-fx-border-width: 5;

}

#gameStartPlayerWrapper{
	-fx-border-color: #f0ebeb; 
	-fx-border-insets: -5;
	-fx-border-width: 5;
}

#gameStartPlayerHeading{
	-fx-font-family: "Tahoma";
    -fx-font-size: 20.0px;
}

#gameStartBotHeading{
	-fx-font-family: "Tahoma";
    -fx-font-size: 20.0px;
}

#SelectWhiteButton{
	-fx-background-color: linear-gradient(to bottom, #f7f7f7, #e3e3e3);
	-fx-border-width: 1.0;
    -fx-border-color: #c2c0c0;
 	-fx-background-insets: 0;
    -fx-cursor: hand;
}

#SelectWhiteButton:disabled{
    -fx-cursor: hand;
}

#SelectBlackButton{
	-fx-border-width: 1.0;
    -fx-border-color: #c2c0c0;
	-fx-background-color: linear-gradient(to bottom, #4d4c4c, #333232);
	-fx-cursor: hand;
	-fx-background-insets: 0; /*<- ! The visual effect is caused due to background insets when the button is not focus */
}


#SelectBlackButton:disabled{
	-fx-background-color: linear-gradient(to bottom, #4d4c4c, #333232);

	-fx-cursor: hand;
}

#SelectRandButton{
	
	-fx-background-color: linear-gradient(to top, #f7f7f7, #4d4c4c);
	-fx-border-width: 1.0;
    -fx-border-color: #c2c0c0;
	-fx-cursor: hand;
	-fx-font-family: "Helvetica";
	-fx-font-size: 15.0px;
	-fx-background-insets: 0;
}

#SelectRandButton:disabled{
  -fx-cursor: hand;
}